fastapi==0.109.2
pydantic==2.6.1
pydantic-settings==2.1.0
uvicorn==0.22.0
sqlalchemy[asyncio]==2.0.15
starlette==0.36.3
httpx==0.24.1

#Database
asyncpg==0.29.0
alembic==1.13.1
aiosqlite==0.20.0

# tests
pytest==7.3.1
pytest-asyncio==0.21.0
ratelimit~=2.2.1